/* App.css */
:root {
  --color-marine-blue: hsl(213, 96%, 18%);
  --color-purplish-blue: hsl(243, 100%, 62%);
  --color-pastel-blue: hsl(228, 100%, 84%);
  --color-light-blue: hsl(206, 94%, 87%);
  --color-strawberry-red: hsl(354, 84%, 57%);
  --color-cool-gray: hsl(231, 11%, 63%);
  --color-light-gray: hsl(229, 24%, 87%);
  --color-magnolia: hsl(217, 100%, 97%);
  --color-alabaster: hsl(231, 100%, 99%);
  --color-white: hsl(0, 0%, 100%);
}

body {
  font-family: 'Ubuntu', sans-serif;
  background-color: var(--color-magnolia);
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.App {
  width: 100%;
  max-width: 375px; /* Mobile width */
  padding: 1rem;
}

@media (min-width: 768px) {
  .App {
    max-width: 1440px; /* Desktop width */
  }
}
